.game-display{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 97vh;
    align-items: center;
    z-index: 2;
}

.gameboard{
    border-style: solid;
    border-color: black;
    height: 764px;
    width: 764px;
}

.game-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridbox{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    height: 250px;
    width: 250px;
    font-size: 150px;
}

#win-message{
    text-align: center;
    font-size: 150px;
    position: fixed;
    top: 50%;   
    left: 50%; 
    transform: translate(-50%, -50%);
}