#background{
    background-color: rgb(23, 24, 46);
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
.game-display{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 4;
}

.game-grid{
    z-index: inherit;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#blur{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(175, 179, 255, 0.15);
    filter: blur(10px);
    z-index: 5;
}

.gridbox{
    z-index: inherit;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: white;
    background-color: rgba(241, 241, 241,0);
    height: 9.5vmax;
    width: 9.5vmax;
    font-size: 7vmax;
}

#gameboard{
    background-color: rgb(34,35,69);
    height: 40vw;
    width: 40vw;
    z-index: 3;
}

.center-items{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#win-message{
    width: 270px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    z-index: 8;
    text-align: center;
    font-size: 60px;
}

#win-box{
    background-color: white;
    height: 400px;
    width: 400px;
    z-index: 6;
    box-shadow: 0px 4px 8px 6px rgba(0,0,0,0.25);
}

#win-box-circle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -175%);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 8px 6px rgba(0,0,0,0.15);
    height: 150px;
    width: 150px;
    z-index: 7;
}

#circle-text{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}

.win{
    display: none;
}

button{
    font-family: 'Raleway', sans-serif;
    font-weight:bolder;
    box-shadow: 0px 4px 8px 6px rgba(60, 42, 42, 0.1);
}

#reset{
    font-size: 25px;
    top: 82%;
    height: 60px;
    width: 95px;
    z-index: 100;
}

#play{
    font-size: 50px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    z-index: 24;
}

.play-button{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play:hover{
    background-color:#e0e052;
}

#start-box{
    display: none;
    background-color: white;
    height: 50vh;
    width: 30vmax;
    z-index: 25;
}

#start-modal-text{
    display: none;
}

.start-box-text{
    z-index: 30;
    font-family: 'Raleway', sans-serif;

}

#to-start-text{
    font-size: 1.4vmax;
    text-align: center;
    width: 95%;
    font-weight: 600;
    top: 11.5vmin;
}

#start-box-title{
    font-size: 2.5vmax;
    font-weight: bolder;
    width: 95%;
    text-align:center;
    top: 5.6vmin;
}

.player-names{
    border-style: solid;
    border-color: black;
    height: 3.5vh;
    width: 20vw;
    font-size: 2vmin;
    padding-left: 8px;
    text-align: center;
}

#player-one{
    top: 22vmin;
}

#player-one-name-text{
    top: 17vmin;
}

#player-two-name-text{
    top: 28vmin;
}

.player-text{
    font-size: 1.2vmax;
    font-weight: 600;
    width: 50%;
    text-align:center;
}

#player-two{
    top: 33vmin;
}

.start-box-buttons{
    top: 42vmin;
    height: 6vmin;
    width: 10vmax;
    font-size: 1.5vw;
}

.start-box-buttons:hover{
    filter: brightness(0.92);
}

#cancel{
    left: 9vmax;
    background-color: rgb(255, 170, 170);
}

#start{
    left: 21vmax;
    background-color: rgb(195, 240, 128);
}